body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(169, 169, 211);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1em;
    color: rgb(0, 0, 0);
    text-align: center;
}



h1 {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: rgb(169, 169, 211);
    padding: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1em;
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    /* border: 2px solid rgb(70, 39, 90); */
    word-spacing: 0.7em;
}
h3 {
    grid-column: 1/4;
    grid-row: 2/3;
    text-align: center;
    letter-spacing: 0.2em;
    word-spacing: 0.5em;
    background-color: rgb(169, 169, 211);
    margin-top: -9em;
}
p {
    grid-column:2/3;
    grid-row: 2/3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -8em;
    line-height: 25px;
    max-width: 85ch;
    /* text-align: center; */
}
